@import "../../style.scss";

.rightBar {
  @include themify($themes) {
    flex: 3;
    position: sticky;
    top: 70px;
    height: calc(100vh - 70px);
    overflow: scroll;
    background-color: themed("bgSoft");

    @include mobile {
      display: none;
    }
    @include tablet {
      display: none;
    }

    &::-webkit-scrollbar {
      display: none;
    }

    .container {
      padding: 20px;

      .item {
        -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
        -moz-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
        box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
        padding: 20px;
        margin-bottom: 20px;
        background-color: themed("bg");
        border-radius: 10px;

        span {
          color: gray;
        }

        hr {
          margin: 20px 0px;
          border: none;
          height: 0.5px;
          background-color: themed("border");
        }

        table {
          border-collapse: collapse;
          width: 100%;
        }
        td {
          padding: 10px;
          font-family: Arial, sans-serif;
          font-size: 13px;
          color: #333;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
