@import "../../style.scss";

.post {
  margin-bottom: 10px;
  @include themify($themes) {
    -webkit-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
    -moz-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
    box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
    border-radius: 20px;
    background-color: themed("bg");
    color: themed("textColor");

    .container {
      padding: 20px;
      .user {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;

        .userInfo {
          display: flex;
          gap: 20px;

          img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;
          }

          .details {
            margin-top: 10px;
            display: flex;
            flex-direction: column;

            .name {
              font-weight: bold;
              font-size: 20px;
            }

            .date {
              font-size: 12px;
            }
          }
        }
      }

      .content {
        margin: 20px 0px;

        img {
          width: 100%;
          max-height: 400px;
          object-fit: cover;
          margin-top: 10px;
        }
      }

      .info {
        display: flex;
        align-items: center;
        gap: 20px;

        .item {
          display: flex;
          align-items: center;
          gap: 10px;
          cursor: pointer;
          font-size: 16px;
        }

        .item:hover {
          cursor: pointer;
          background-color: #f5f5f5;
        }

        .category {
          margin-left: auto;
          font-size: 16px;
          font-weight: bold;
        }

        .download {
          button {
            background-color: #4caf50;
            border: none;
            color: white;
            padding: 8px 16px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
          }
        }
      }
    }
  }
}
